body {
    background-color: #2f3038;
    margin: 0;
}

.navbar {
    background-color: #1f2028;
    padding: 10px 20px; /* Add padding for better visibility */
    text-align: center; /* Center text within the navbar */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar .material-symbols-outlined {
    font-size: 24px;
    margin-right: 0px;
}

.logo {
    margin-right: auto;
    font-weight: bold;
}

img {
    border-radius: 20%;
    margin-right: 100px;
}