body {
    background-color: #2f3038;
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
}