body {
    background-color: #2f3038;
    margin: 0;
}

.navbar {
    background-color: #1f2028;
    padding: 10px 20px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar .material-symbols-outlined {
    font-size: 24px;
    margin-right: 0px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px;
}

.logo {
    margin-right: auto;
    font-weight: bold;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    padding: 20px;
}

img {
    border-radius: 20%;
    margin-right: 100px;
}

.text-container {
    text-align: left;
}

.text-container p {
    margin: 10px 0;
    color: #ffffff;
    font-size: 18px;
}

.text-container p:first-child {
    font-size: 70px;
}

.text-container p:nth-child(2) {
    margin-bottom: 20px;
}

.text-container p:last-child {
    font-size: 18px;
}

.button-container {
    margin-top: 20px; /* Add space between text and button */
}

button {
    padding: 20px; /* Double the padding for a bigger button */
    font-size: 16px; /* Adjust font size as needed */
    background-color: #4caf50; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}